# Django Settings
SECRET_KEY=your-django-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Supabase / Database
DB_PASSWORD=your-supabase-db-password
SUPABASE_URL=https://xjkfghwrrjdslubetwfr.supabase.co
SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SECRET_KEY=your_supabase_secret_key

# Google OAuth 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Gmail 
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Frontend
FRONTEND_URL=http://localhost:3000