# Django Settings
SECRET_KEY=-3t00h$yjp8ae&wyvx_o2yn0f7=x@9uufmc#bf67xrns*(8d+q
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Supabase / Database
DB_PASSWORD=stack191supaaa
SUPABASE_URL=https://xjkfghwrrjdslubetwfr.supabase.co
SUPABASE_ANON_KEY=sb_publishable_Nl-paWJQuL_eiDYAWo3tkw__GBmV6by
SUPABASE_SECRET_KEY=your_supabase_secret_key

# Google OAuth 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Gmail 
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Frontend
FRONTEND_URL=http://localhost:3000